@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Style where it is used -> ./components/Header/LanguageTab.js */

.dropdown-btn:hover > .dropdown-content {
  pointer-events: all;
  opacity: 1;
}

.language-item:hover .language-item-dot {
  opacity: 1;
}

.language-item:hover p {
  text-decoration: underline;
  color: #e47911;
}

/* sytle where it is used -> ./components/MenuBar/HamburgerMenu.js */

.parent-forward-icon:hover > .forward-icon {
  color: #111;
}

/* style where it is used -> ./components/Carousel/DesktopCarousel.js */

.prev-icon > polyline,
.next-icon > polyline {
  stroke: #3f464e;
}

/* style where it is used -> ./components/ProductsSlider/ProductsSlider.js */

.products-scroll::-webkit-scrollbar {
  height: 8px;
}

.products-scroll::-webkit-scrollbar-track {
  border-radius: 5px;
}

.products-scroll:hover::-webkit-scrollbar-track {
  background: #d3d3d3;
}

.products-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #aaa;
}

.products-scroll::-webkit-scrollbar-thumb:hover {
  background: #888;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

/* styles where it is used -> ./components/SearchBar/InputSearchBar.js */

.searchbar-result {
  opacity: 0;
  z-index: -10;
  transition: all 500ms ease;
}

.searchbar:focus + .searchbar-result {
  opacity: 1;
  z-index: 10;
}
